# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class
*.so
*.dll
*.dylib
*.bin
*.pkl
*.pt
*.pth
*.ckpt
*.t7
*.onnx
*.pb

# Virtual environments
.venv/
venv/
ENV/
env/
.conda/
conda_env/
*.egg-info/
.eggs/
dist/
build/
develop-eggs/
downloads/

# Logs / caches / temp
*.log
*.out
*.tmp
*.bak
*.swp
*.swo
.cache/
.tox/
.coverage
*.coverage
coverage.xml
nosetests.xml
pytest_cache/
htmlcov/
.ipynb_checkpoints/

# ======================
# IDEs
# ======================
.idea/
.vscode/
.history/
*.iml
*.iws
out/

# ======================
# Frameworks / Tools
# ======================
# Gradio / Streamlit
gradio_cached_examples/
gradio/launches/
gradio/temp/

# TensorBoard / WandB
runs/
logs/
wandb/
tensorboard/

# ======================
# System / OS
# ======================
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
__MACOSX/

# ======================
# Output / Checkpoints
# ======================
checkpoints/
outputs/
results/
tmp/
cache/

# ======================
# Miscellaneous
# ======================
*.zip
*.tar
*.tar.gz
*.7z
*.rar
*.pdb
*.mat
*.h5

# ======================
# IOCfish5k Dataset old
# ======================
IOCfish5kDataset_old/_data/**
IOCfish5kDataset_old/2300_finllVersion_done/**
IOCfish5kDataset_old/better_annotated_v?/**
IOCfish5kDataset_old/my_done_annotated_images/**
IOCfish5kDataset_old/.annotation_time.json
IOCfish5kDataset_old/segment_maps/**

# ======================
# IOCfish5k Dataset
# ======================
IOCfish5kDataset/dataset/IOCfish5k/images/**
IOCfish5kDataset/dataset/IOCfish5k/point_annotations/**
IOCfish5kDataset/dataset/IOCfish5k/released_dataset.zip
IOCfish5kDataset/dataset/IOCfish5k-D/color/**
IOCfish5kDataset/dataset/IOCfish5k-D/depthmaps/**
IOCfish5kDataset/dataset/IOCfish5k-D/depthmaps-color/**
IOCfish5kDataset/dataset/IOCfish5k-D/grey/**
IOCfish5kDataset/dataset/IOCfish5k-D/IOCfish5k-D.zip
IOCfish5kDataset/dataset/*.txt
IOCfish5kDataset/latest/**
IOCfish5kDataset/dataset/IOCfish5k/bbox_annotations/**

.env

/Depther/AnyDepth/dinov3_vitb16_pretrain_lvd1689m-73cec8be.pth
/Depther/AnyDepth/dinov3_vitl16_pretrain_lvd1689m-8aa4cbdd.pth
/expresults/**
/expresults_fscd/**
/tmp/**
/Depther/AnyDepth/visualizations/**
/Depther/AnyDepth/anydepth_5imgs_out/**
/Depther/DepthAnythingV2/assets/**
Depther/DepthAnythingV2/assets/
Depther/DepthAnythingV2/metric_depth/
FSCD147Dataset/depthmaps/**
tools/*.csv
/tools/thesis_tables
/tools/build_thesis_csvs.py
/MCACDataset/examples/**
/FSCD147Dataset/depthfeats8_dino512/**
/expresults_mcac/**